img {
	width: 50%;
	height: 50%;
	
}

.btneliminar{
	color: yellow;
	font-weight: bold;
	
}

.btneliminar:hover{
	text-decoration: none;
	color: yellow;
}

a:hover{
	text-decoration: none;
	color: yellow;
}

.btneditar{
    color: red;
    font-weight: bold;

}

.btneditar:hover{
    text-decoration: none;
    color: red;
}

.btnagregar{
	color: black;
	font-weight: bold;	
}

.btnagregar:hover{
	color: black;
	text-decoration: none;
}